
/* 1.BASE
----------------------------------------------------------------------------- */
body {
    font-family: 'Helvetica Neue', HelveticaNeue, sans-serif;
}
ul {
    list-style:none;
    padding:0;
}

a {
    border-bottom:1px solid #ced2df;
    color:#17c;
    text-decoration: none;
}
a:hover {
    border-color:#a53;
    color:#a53;
}
a:active, a:focus {
    opacity: .7;
}

header {
    display:none;
}
